<article class="static">
  <% provide :page_title, t('.title') %>
  <% currently_at t('menu.about') %>

  <header>
    <div class="title">
      <h2><%= t('.title') %></h2>
    </div>
	</header>
  <p><%= simple_format t('.content') %></p>
</article>
