<article class='mt-2'>
  <% provide :page_title, t('page.about_title') %>
  <% currently_at t('page.about') %>

  <h1 class='md-4 mb-4'><%= t('page.about_title') %></h1>
  <p><%= t('page.about_content') %></p>
</article>