<article class="static">
  <% provide :page_title, t('page.about_title') %>
  <% currently_at t('page.about') %>

  <header>
    <div class="title">
      <h2><%= t('page.about_title') %></h2>
    </div>
	</header>
  <p><%= simple_format t('page.about_content') %></p>
</article>
