<section>
  <% provide :page_title, t('.title') %>
  <% currently_at %>

  <h1 class='md-4'><%= t('.title') %></h1>
  <div class='col-sm-5'>
    <%= render partial: 'form', locals: { model: @article, method: :put, submit: t('submit.edit') } %>
  </div>
</section>