<section>
  <% provide :page_title, t('page.new', model: i18n_model_name(@article).downcase)%>
  <% currently_at t('link.new', model: i18n_model_name(@article).downcase) %>
  <div class='my-3'>
    <%= render partial: 'shared/go_back_button', locals: { path: articles_path } %>
  </div>
  <h1><%= t('page.new', model: i18n_model_name(@article).downcase) %></h1>
    <%= render partial: 'form', locals: { model: [@user, @article], method: :post } %>
</section>