<section class="blurb">
	<h2><%= t('static_pages.about.title') %></h2>
		<p><%= truncate strip_tags(t('static_pages.about.content')), length: 150, omission: '... (continued)' %></p>
		<ul class="actions">
			<li><%= link_to t('static_pages.about.link'), static_pages_about_path, class: "button" %></li>
		</ul>
</section>