<section id="footer">
  <ul class="icons">
    <li>    
      <span class="label"><%= link_to sanitize(t('page.telegram')), 'https://t.me/elenkasu', target: :_blank %></span>
    </li>       
  </ul>
</section>
