// mark author
.bold {
  font-weight: bold;
}
.contacts {
	line-height: 15px;
}

.text-black {
	color: rgb(0, 0, 0);
}

.text-gray {
	color: rgb(70, 69, 69) !important;
	font-weight: bold !important;
}
